<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loggin'</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class='h70 w100 flex column align-items-center justify-center'>
      <header class="flex">
          <h1>Let's Loggin'</h1>
          <img src='/images/log.png' />
      </header>
      {{{body}}}
    </div>
</body>

</html>
