<main>
    <div class='w100 flex column align-items-center'>
        <h3>Welcome, {{user.username}}!</h3>
        <p>You are now logged in.</p>
        <p>Enjoy this wonderful app!</p>
        <button id="logout">Log out</button>
    </div>
</main>
<script src="/js/logout.js"></script>